@charset "utf-8";

header {
    position: relative;
    top: 0;
    margin-top: 50px;
}

.cont01 {
    padding-top: 50px;
}
.cont01 .list {
    height: 161px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .45);
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.cont01 .list figure {
    border-radius: 10px;
    width: 102px;
    height: 124px;
    overflow: hidden;
}
.cont01 .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .info {
    margin-left: 11px;
}
.cont01 .list .info h4 {
    font-size: 16px;
}
.cont01 .list .info p {
    font-size: 14px;
}
.cont01 .list .info a {
    display: block;
    width: 100px;
    height: 35px;
    text-align: center; 
    line-height: 38px;
    border-radius: 20px;
    background-color: #2C0089;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
}


.cont02 {
    margin-top: 50px;
}
.cont02 .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont02 .list .item {
    width: calc(100% / 3 - 10px);
    margin-bottom: 20px;
}
.cont02 .list .item figure {
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}
.cont02 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .list .item p {
    font-size: 14px;
    margin-top: 10px;
}